/* PHASE 5: Cats */
.content-header {
    background: url(../skeleton/imgages/cats.jpg);

    
}

/* position: relative;
    height: 200px;
    background: url(../img/cats.jpg);
    background-size: cover;
    border-bottom: 1px solid #ccc; */
    