<h1> Signup form </h1>
<form action="<%= users_url %>" method="POST">
    <input type="hidden" name="autenticity_token" value="<%= form_authenticity_token %>"/> 
    <label for="user_name"> Username</label>
    <input type="text" name="user[username]" id="user_name" value=""/> 
    <label for="password"> Password</label>
    <input type="password" name="user[password]" id="password" value=""/> 
    <input type="submit" value="Signup"/> 
</form>