<h1>Create New Sub</h1>

<form action="<%= subs_url %>" method="post">
    <%= auth_token %>
    <label>Name: <input name="sub[title]" value="<%= @sub.title %>"></label>
    <br>
    <label>Description:
        <textarea name="sub[description]"><%= @sub.description %></textarea>
    </label>
    <button>Submit</button>
</form>